.row{
    
    white-space: normal;
    justify-content: start;
}
    
    


.container-fluid {
   

overflow: hidden;
background-color: blanchedalmond;
margin-left: 5px;
margin-right: 5px;
border: 4px black;




}

.tall1{
    padding-top: 14px;
    background-color: rgb(132, 197, 227);
    height: 70vh;
    
  
    border: 4px solid black;

}

.tall2{

    padding-top: 40px;
    background-color: gainsboro;
    
    min-width: 300;
   
   
    border: 4px solid black;
    overflow-y: scroll;
}

.tall3{
 
    padding-top: 30px;
    background-color: rgb(241, 241, 241);
    
   
    overflow-y: scroll;
    height: 30vh;
    
    
   
  
    border: 4px solid black;
   
}

